body{
    background-color: #ccc;

}
#chart{
    background-color: #ccc;
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    border: solid 2px #000;
}
svg{
    background-color: #fff;
}
.dot{
    stroke: #000;
    stroke-width: 1px;
}
.axis line, .axis path {
    stroke: #bbb;
}
.axis text {
    fill: #bbb;
}

#tooltip{
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border: solid 1px #000;
    opacity: 0;
}
 .axisLabel{
            fill: #bbb;
            font: sans-serif;
            font-size: 10px;
        }